gnrd_api_url: 'http://localhost:4567/name_finder'
root_file_path: '/stuff'
carousel_size: 20

development:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: bhl_indexer_dev

test:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: bhl_indexer_test

production:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: bhl_indexer
  
  
  
